body {
    width: 1440px;
    height: 1024px;
    background-color: rgb(0, 0, 0);
    color: white;

}

#logo {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items:first baseline;
}

.nav-link:hover {
    color: orange;
    font-size: 1.5rem;
}


/* TEMPORARY PLACE FOR LINKS */
a{
    text-decoration: none;
    color: white;
    transition: color 2s;
    transition: font-size 1s;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cta-container {
    display: flex;
    width: 300px;
    height: 100px;
    
}


.call-to-action{
    width: 150px;
    border: 2px solid white;
    
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    

}

#leftsection {

}

#rightsection {

}

#main-section-img {
    width:600px;
    height: 650px;
}