body {
    width: 1440px;
    height: 1024px;
    background-color: rgb(0, 0, 0);
    color: white;

}

#logo {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items:first baseline;
}

.nav-link:hover {
    color: orange;
    font-size: 1.5rem;
}


/* TEMPORARY PLACE FOR LINKS */
a{
    text-decoration: none;
    color: white;
    transition: color 2s;
    transition: font-size 1s;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cta-container {
    display: flex;
    width: 350px;
    height: 100px;
    /* border: 2px solid green; */
    text-align: center;
    justify-content: space-around;
}


.cta-flex-items{
    width: 150px;
    height: 45px;
    border: 2px solid white;
    border-radius: 10%;
    transition: background-color 1.5s;


}
.cta-flex-items:hover {
    border: 2px solid white;
    /* background-color: orange; */
}

.cta-link:hover {
    color: black;

}

.cta-link {
    height: 30px;
    display: flex;
    justify-content:center ;
    margin-top: 9%;
    transition: color 0.2s;
    transition-timing-function: ease-in;
    color: black;
    
}

#hire-me {
    background-color: orange;

}

#cta-projects {
    color: white;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.left-section-p2 {
    margin-bottom: 0;
    font-size: 4rem;
}

span{
    color: orange;
}

#fname {
    margin-top: 20px;
}

#lname {
    margin-top: 2%
}



#leftsection {

}

#rightsection {

}

#main-section-img {
    width:600px;
    height: 650px;

}



/* ================FORM SECTION===================== */


form {
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 500px;
    height: 600px;
    border: 4px solid orange;
}



/* ================MEDIA QUERIES=================== */

@media (max-width: 430px) {
    .nav-link {
        display: none;
    }
}